.callout {max-width: 300;
    margin: 10px;
    border: 1px solid;
    padding: 15px;
    background-color: blue;
    color: white;

	
}

.callout img {float: right;
    margin: 0 0 10 15;
    border: 1px solid rgba(255, 255, 255, 0.307);
    padding: 3px;
	background-color:white;
    width: 100px;
    height:auto;
}

blockquote {margin: 0;
	
}

cite {display:block;
    border-top: 1px dotted white;
    padding-top:3px;
    text-align: right;
    font-size: smaller;
	
}